[Unit]
Description=Start python server for lego tog
After=syslog.target

[Service]
ExecStart=/usr/bin/python /home/pi/Lego-tog-styring/python/app.py 
Restart=on-abort

[Install]
WantedBy=multi-user.target
